@media (min-width: 320px) {
    .place-to-cat{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .place-to-cat{
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .place-to-cat{
        width: 25%;
    }
}

.main-question{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: pink;
    color: rgb(148, 50, 50);
    font-size: 5vh;
}

.flex-conteiner{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.place-to-cat{
    background-color: blanchedalmond;
}

img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    padding: 5%;	
}